
<section id="footer">
<div class="bar">

<div class="cards" >
  <%= check_box_tag :parc, nil, false, class: "card-choice hide" %>
  <label class="card-category" style="background-image: url(<%= asset_path 'football.png'%>)" for="parc" id="Parc">
    Breakfast
  </label>

  <div class="card-category" id="Football">
    Lunch
  </div>

  <div class="card-category" id="Volley">
    Dinner
  </div>
  <div class="card-category" id="Petanque">
    Breakfast
  </div>

  <div class="card-category" id="Skatepark">
    Lunch
  </div>

  <div class="card-category" id="PingPong">
    Dinner
  </div>
  <div class="card-category" id="Basket">
    Breakfast
  </div>

  <div class="card-category" id="Fitness">
    Lunch
  </div>
</div>



</div>
</section>
