<div
  id="map"
  style="width: 100%;
  height: 100vh;"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  data-markers="<%= @markers.to_json %>">
</div>


<div class="container absolute" id="geocoder">
  <div class="middle-text">
    <h1> Découvrez les meilleurs spots de Volley en extérieur </h1>

    <footer>

    </footer>
  </div>
</div>

