.info_place_favorite {
    padding: 0px 15px 0px 15px;
    border-radius: 5px;
    margin: 15px 15px 30px 15px;
    z-index: 2;
    background-color: white;
    // height: 539px;
    top: 0;
    display: block;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    margin-left: 50px;
     border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;

  }

  .text-decoration-none {
    text-decoration: none;
  }
.info_place_favorite > p  {
  overflow: hidden;
  max-height: 1.5em;
  margin-left: 10px;
  font-size: 14px;
   font-family: 'Montserrat', sans-serif;
}


    .info_place_favorite h1 {
      color: white;
    font-weight: bold;
    margin: -15px;
    padding: 27px;
    margin-bottom: 15px;
    font-size: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
     border-top-left-radius: 20px;
    border-top-right-radius: 20px;


}

  .cards_favorite {
  display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 44px;
   margin: 30px 150px 40px 40px;
   // padding-right: 80px;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;

}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards_favorite {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards_favorite {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards_favorite {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards_favorite {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards_favorite {
    grid-template-columns: 1fr 1fr 1fr;
  }

}

.pictureparcfavorite {
  margin-bottom: 15px;
  height: 130px;
  background-image: cover !important;
  object-fit: cover !important;
  width: 100%;
  display: flex;
  justify-content: center;
}

.icons_favorite {
  padding-right: 15px;
  font-size: 20px;
}

.icons_heart {
  font-size: 25px;
  display: flex;
  position: right !important;
  text-decoration: none;
  text-align: right;
  text-decoration: none;
}

#heart_color {
  color: #5270fc;
  text-decoration: none;
}

#heart_color:hover {
  color: #efefef ;
  text-decoration: none;
  // border: 1px solid #5270fc;
}


.fb_favorite p {
  text-align: center;
}
p span.center {
  float: center;
}
p span.droite {
  float: right;
}

.new-favorite {
  display: none;
}

.favorite_title h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  padding-top: 40px;
  margin-bottom: 50px;
}

// .container_picture {
//   width: 300px;
//   height: 280px;
//   background-image: cover;
//   object-fit: cover;

// }

.d-flex p {
  font-size : 12px;
  font-family: 'Montserrat', sans-serif;
}

