.container_show {
  position:relative;
}

.show_map {
  z-index: 1;
}

.info_place {
    padding: 15px 15px 15px 15px;
    border-radius: 20px;
    margin: 15px 15px 30px 15px;
    position: absolute;
    z-index: 2;
    background-color: white;
    height: 677px;
    top: 0;
    display: block;
    width: 375px;
    overflow: scroll;

}

.info_place h1 {
    font-weight: bold;
    border-top-left-radius: 20px;
    margin: -15px;
    padding: 27px;
    margin-bottom: 15px;
    font-size: 24px;
    text-align: center;
    font-family: roboto;
}

#pictureparc {
  width: 100%;
}

.icons {
  padding-right: 5px;
  font-size: 20px;
}

#marker_color {
  color: #B2E917;
}

#sign_color {
  color: #605BFF;
}

#schedules_color {
  color: #F73A6A;
}

.header-activity {
  padding: 10px 10px 10px 10px;

  &__Football {
    background-color: #F73A6A;
  }

  &__Parc {
    background-color: #B2E917;
  }

  &__Volleyball {
    background-color: #FFDF34;
  }

  &__Basketball {
    background-color: #F6A854;
  }

  &__Pingpong {
    background-color: #B163EF;
  }

  &__Petanque {
    background-color: #73ACF1;
  }

  &__Skatepark {
    background-color: #605BFF;
  }

  &__Fitness {
    background: #00E3BC;
  }
  }

.header-activity h1 {
    font-weight: bold;
    border-radius: 20px;
    margin: -15px;
    padding: 27px;
    margin-bottom: 15px;
    font-size: 24px;
    text-align: center;
    font-family: roboto;
}

#button-plus {
  color: lightgrey;
  display: flex;
  justify-content: right;
  float: right;
  margin-top: -40px;
}

.no-border {
  border: none;
}


.reviews-index {
  margin-left: 0px;
  padding-top: 10px;
}

