.navbar-lewagon {
  justify-content: space-between;
  background: white;
  z-index: 9999;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  z-index: 9999;
}

.logo-header-center {
  align-items: center !important;
}

.avatar {
  width: 50px;
}

.avatar:hover {
  border: 1px solid;
  border-color: #E50207;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
  align-items: center;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

#events_link{
  text-decoration: none;
  color: #393E46;
  padding-right: 20px;
  padding-top: 100px !important;
}

.navbar-nav {
  align-items: baseline;
}

.navbar {
  padding-right: 20px;
  position: fixed;
  width: 100%;
}

.nav-item {

margin-right: 20px;
font-size: 25px;


}
.nav-item {
  color: #240240;
  text-decoration: none;
}

.navbar-push {
  padding-top: 100px;
}
// .header-item {
//   align-items: center;
//   display: flex;
//   flex-wrap: nowrap;
// }


