.bar {
  z-index: 1;
  background: linear-gradient(#FFFFFF, #F5F5F5);
  position: absolute;

  height: 150px;
  width: 50%;
  margin-top: 50px;
  margin-left: 22%;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.card-category {
  width: 75px;
  height: 75px;
  border-radius: 20px;
}



.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1r;
  grid-gap: 25px;
}

.card-choice {
  display: none;
}
.card-choice:checked + .card-category {
  // filter: brightness(125%);
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
    &:hover {
 opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}
}
// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .bar {
  z-index: 1;
  background: linear-gradient(#FFFFFF, #F5F5F5);
  position: absolute;
  height: 300px;
  width: 75%;
  margin-left: 10%;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
   .bar {
  z-index: 1;
  background: linear-gradient(#FFFFFF, #F5F5F5);
  position: absolute;
  height: 250px;
  width: 75%;
  margin-left: 10%;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .bar {
  z-index: 1;
  background: linear-gradient(#FFFFFF, #F5F5F5);
  bottom: 40px;
  height: 220px;
  width: 65%;
  margin-left: 18%;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .bar {
  z-index: 1;
  background: linear-gradient(#FFFFFF, #F5F5F5);
  bottom: 40px;
  height: 220px;
  width: 65%;
  margin-left: 25%;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
.bar {
  z-index: 1;
  background: linear-gradient(#FFFFFF, #F5F5F5);
  height: 150px;
  width: 65%;
  margin-left: 20%;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
}

.hidden {
  display: none;
}


#football{
  background-color: #F73A6A;
  &:hover {
 opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
  }
}

#parc{
  background-color: #B2E917;
   &:hover {
 opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}
}

#volleyball{
  background-color: #FFDF34;
  &:hover {
 opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
  }
}

#basketball{
  background-color: #F6A854;
  &:hover {
 opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
  }
}

#pingpong{
  background-color: #B163EF;
  &:hover {
 opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
  }
}

#petanque{
  background-color: #73ACF1;
  &:hover {
 opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
  }
}

#skatepark{
  background-color: #605BFF;
  &:hover {
 opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
  }
}

#fitness{
  background: #00E3BC;
  &:hover {
 opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
  }
}


.activity-title {
  font-size:15px;
  color: black;
  text-align: center;
  padding-top: 75px;
  // text-shadow:1px 1px 5px grey;
}
