
<div class="card-product">
  <img <%= current_user.avatar  %> />
  <div class="card-product-infos">
    <h2> <%= current_user.username  %> </h2>
    <p><%= review.content %></p>
    <h2><%= "â­" * (review.rating || 0)  %></h2>
  </div>
</div>

